.main {
    max-width: 1250px;
    background: #fff;
    color: #909090;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

/*Header & Navigation*/
.logo {
    display: inline-block;
    margin: 15px 0px 0px 140px;
}

nav {
    float: right;
    margin-right: 150px;
    margin-top: 7px;
}

header {
    background: #fff;
    /* height: 80px; */
}

.logo-text {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #000;
    font-size: 2.6em;
    margin-left: 8px;
    position: relative;
    bottom: 7.5px;
}

.logo-icon {
    background: url(imgs/Logo.png) no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
    position: relative;
}

.logo-icon p {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 4em;
    position: absolute;
    left: 17.5%;
    top: -10%;
}

nav li {
    display: inline-block;
    margin-left: 7px;
    padding-bottom: 28px;
    width: 90px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 1.2em;
}

nav li:hover {
    border-bottom: 3px solid #5094f2;
}

.nav-button {
    display: none;
}

.ham {
    width: 50px;
    height: 50px;
    background: url(imgs/ham.png);
    background-size: 50px 50px;
    float: right;
    display: none;
    margin: 10px 30px;
}

/*Banner*/
.banner {
    background: url(imgs/banner.png) no-repeat;
    height: 490px;
    width: 100%;
    position: relative;
}

.iphone {
    position: absolute;
    left: 14%;
    top: 38px;
}

.banner-text {
    position: absolute;
    top: 107px;
    left: 625px;
    right: 15px;
    color: #fff;
}

.banner h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: -7px;
}

.banner p {
    font-size: 1.55em;
    padding: 0;
    margin: 13px 0px;
}

.banner input[type="button"] {
    background: #5094f2;
    color: #fff;
    width: 172px;
    height: 41px;
    box-sizing: border-box;
    border: none;
    font-size: 1.3em;
    margin-top: 23px;
    margin-left: 13px;
    padding-left: 40px;
    padding-bottom: 5px;
}

.signup-button {
    position: relative;
}

.signup-button img {
    position: absolute;
    top: 32px;
    left: 24px;
}

/*Icons*/
.pen-icon, .comp-icon, .cart-icon {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    margin: 0px 32px;
    position: relative;
}

.pen-icon img {
    position: absolute;
    top: 20%;
    left: 33%;
}

.comp-icon img {
    position: absolute;
    top: 30%;
    left: 25%;
}

.cart-icon img {
    position: absolute;
    top: 25%;
    left: 25%;
}

.pen-icon {
    background: #5094f2;
}

.comp-icon {
    background: #d94748;
}

.cart-icon {
    background: #ebbb11;
}


.icons, .cart {
    margin: 57px 110px 0px 110px;
    padding: 0px 30px;
}

.icons:after {
    content: "";
    display: block;
    clear: both;
}

.icons>div {
    float: left;
    text-align: center;
    width: 247px;
}

.icons>div:first-child {
    padding-left: 0;
    padding-right: 115px; 
}

.icons>div:last-child {
    padding-right: 0;
    padding-left: 98px;
}

.icons p {
    font-size: 0.85em;
}

.icons h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #5094f2;
    margin-top: 25px;
}

.icons p {
    font-size: 0.85em;
    margin-top: -17px;
}

/*Cart Section*/
.cart {
    margin-bottom: 42px;
}

.cart:after {
    content: "";
    display: block;
    clear: both;
}

.cart-img, .cart-text {
    float: left;
}

.cart h1 {
    font-size: 2.5em;
    font-weight: 400;
    padding-left: 26px;
    padding-top: 8px;
    color: #6f7173;
}

.cart-img {
    padding-left: 15px;
}

.cart-text {
    margin-left: 84px;
}

.cart-text h2 {
    font-weight: 400;
    margin-top: -27px;
    color: #6f7173;
}

.cart-text p {
    font-size: 0.86em;
    margin: 18px 0px;
}

/*Footer*/
footer {
    padding: 15px 0px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

footer p {
    font-size: 0.9em;
    margin-left: -75px;
}

/* Breakpoint 1024px */
@media screen and (max-width: 1024px) {
    .icons, .cart {
        margin: 57px 0px 0px 70px;
        padding: 0px 20px;
    }

    .icons>div:first-child {
        padding-left: 0;
        padding-right: 6%; 
    }
    
        .icons>div:last-child {
        padding-right: 0;
        padding-left: 6%;
    }

    .cart-text {
        margin-left: 60px;
    }

    .cart {
        margin-bottom: 42px;
    }
}

/* Breakpoint 960px */
@media screen and (max-width: 960px) {
    .logo {
        margin: 15px 0px 0px 80px;
    }

    nav {
        margin-right: 15px;
    }

    nav li {
        margin-left: 0px;
    }

    .iphone {
        left: 50px;
    }

    .banner-text {
        left: 500px;
    }

    .icons, .cart {
        margin: 57px 0px 0px 37px;
        padding: 0px 20px;
    }

    .icons>div:first-child {
        padding-left: 0;
        padding-right: 6%; 
    }
    
    .icons>div:last-child {
        padding-right: 0;
        padding-left: 6%;
    }

    .cart-text {
        margin-left: 60px;
    }

    .cart-img {
        padding-left: 0px;
    }

    .cart {
        margin-bottom: 42px;
    }
}

/* Breakpoint 720px */
@media screen and (max-width: 720px) {
    .logo {
        margin: 15px 0px 0px 10px;
    }

    nav li {
        display: block;
        margin-left: 7px;
        padding-bottom: 28px;
        width: 100%;
        text-align: left;
    }

    nav li:hover {
        border-bottom: none;
    }

    nav {
        float: none;
        display: none;
    }

    .ham {
        display: block;
    }

    header input[type="checkbox"]:checked+nav {
        display: block;
    }

    .iphone {
        display: none;
    }

    .banner-text {
        left: 120px;
    }

    .icons, .cart {
        margin: 57px 0px 0px 25px;
        padding: 0px 15px;
    }

    .icons>div:first-child {
        padding-right: 3%; 
    }
    
    .icons>div:last-child {
        padding-left: 3%;
    }

    .icons>div {
        width: 200px;
    }

    .pen-icon, .comp-icon, .cart-icon {
        width: 175px;
        height: 175px;
        margin: 0px 12px;
    }

    .cart {
        text-align: center;
    }
    
    .cart-img, .cart-text {
        float: none;
    }
    
    .cart h1 {
        padding-top: 8px;
    }
    
    .cart-text {
        text-align: left;
        margin-top: 35px;
        padding-left: 70px;
    }
    
    .cart-text p {
        font-size: 0.86em;
        margin: 18px 0px;
    }

    footer p {
        margin-left: 0px;
    }
}

/* Breakpoint 480px */
@media screen and (max-width: 480px) {
    .logo {
        margin: 15px 0px 0px 10px;
    }

    nav {
        display: none;
    }

    .iphone {
        display: none;
    }

    .banner-text {
        left: 60px;
        top: 70px;
    }

    .icons, .cart {
        margin: 57px 0px 0px 25px;
        padding: 0px 15px;
    }

    .icons>div:first-child {
        padding-right: 0; 
    }
    
    .icons>div:last-child {
        padding-left: 0;
    }

    .icons>div {
        width: 247px;
        float: none;
        margin: 0px 75px;
    }

    .cart {
        text-align: center;
    }
    
    .cart-img, .cart-text {
        float: none;
    }
    
    .cart-text {
        text-align: left;
        margin-top: 35px;
        margin-left: -10px;
    }

    footer p {
        margin-left: 0px;
    }

    .ham {
        display: block;
    }
}

/* Breakpoint 360px */
@media screen and (max-width: 360px) {
    .logo {
        margin: 15px 0px 0px 10px;
    }

    nav {
        display: none;
    }

    .iphone {
        display: none;
    }

    .banner-text {
        left: 20px;
        top: 70px;
    }

    .pen-icon, .comp-icon, .cart-icon {
        margin-left: 35px;
    }

    .icons, .cart {
        margin: 57px 0px 0px 15px;
        padding: 0px 5px;
    }

    .icons>div:first-child {
        padding-right: 0; 
    }
    
    .icons>div:last-child {
        padding-left: 0;
    }

    .icons>div {
        width: 247px;
        float: none;
        margin: 0px 10px;
    }

    .cart {
        text-align: center;
    }
    
    .cart-img, .cart-text {
        float: none;
    }

    .cart h1 {
        font-size: 2.1em;
        padding-left: 0px;
    }

    .cart-img img {
        width: 250px;
        margin-left: -20px;
    }
    
    .cart-text {
        text-align: left;
        margin-top: 35px;
        margin-left: -65px;
    }

    footer p {
        margin-left: 0px;
    }

    .ham {
        display: block;
    }
}